<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
    <div class="msg-container">
      <div>
        User:
        <%= message.user %>
      </div>
      <div>
        Message:
        <%= message.text %>
      </div>
      <div>
        Added:
        <%= message.added %>
      </div>
    </div>
    <%});%>
  </body>
</html>
