<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/message.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <main>
      <h1><%= title %></h1>
      <div class="msg-container">
        <div>User: <%= username %></div>
        <div>Message: <%= message %></div>
        <div>Added: <%= created_date %></div>
      </div>
    </main>
  </body>
</html>
